body {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 2;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}


h1 {
  font-size: 2.75em;
  font-weight: bold;
  line-height: 3;
}

h3 {
  font-size: 1.5em
}

p {
  font-size: 1em;
}

figcaption {
  font-size: 0.75em;
}

a {
  text-decoration: none;
}

/* unvisted link */
a:link {
    color: #0000ff;
}

/* visted link */
a:visited {
    color:#ffff00;
}

  /* mouse over link */
a:hover {
    color:#0070bc;
}

/* selected */
a:active {
    color:#ff69b4;
}
